Source: isc-dhcp
Section: net
Priority: important
Maintainer: Debian ISC DHCP maintainers <pkg-dhcp-devel@lists.alioth.debian.org>
Uploaders: Andrew Pollock <apollock@debian.org>, Michael Gilbert <mgilbert@debian.org>
Vcs-Git: git://anonscm.debian.org/pkg-dhcp/isc-dhcp.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-dhcp/isc-dhcp.git;a=summary
Homepage: http://www.isc.org
Build-Depends:
 groff,
 pkg-config,
 po-debconf,
 libssl-dev,
 libldap2-dev,
 libbind-export-dev (>= 1:9.9.5.dfsg-4.3),
 dh-autoreconf,
 debhelper (>= 9),
 dpkg-dev (>= 1.13.2),
Standards-Version: 3.9.6

Package: isc-dhcp-server
Priority: optional
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 debianutils (>= 2.8.2),
 isc-dhcp-common (= ${binary:Version}),
 lsb-base,
Conflicts:
 dhcp,
Suggests:
 isc-dhcp-server-ldap,
Description: ISC DHCP server for automatic IP address assignment
 This is the Internet Software Consortium's DHCP server.
 .
 Dynamic Host Configuration Protocol (DHCP) is a protocol like BOOTP
 (actually dhcpd includes much of the functionality of bootpd). It
 gives client machines "leases" for IP addresses and can
 automatically set their network configuration.
 .
 This server can handle multiple ethernet interfaces.

Package: isc-dhcp-server-dbg
Section: oldlibs
Priority: extra
Architecture: any
Depends:
 ${misc:Depends},
 isc-dhcp-dbg (= ${binary:Version}),
Description: ISC DHCP server for automatic IP address assignment (server debug)
 This is the server from the Internet Software Consortium's implementation of
 DHCP.
 .
 This is a transitional package that can be safely removed. 

Package: isc-dhcp-dbg
Section: debug
Priority: extra
Architecture: any
Depends:
 ${misc:Depends},
 debianutils (>= 2.8.2),
 isc-dhcp-common (= ${binary:Version}),
 lsb-base,
Replaces:
 isc-dhcp-client-dbg (<< 4.3.0a1),
 isc-dhcp-server-dbg (<< 4.3.0a1),
 isc-dhcp-relay-dbg (<< 4.3.0a1),
Description: ISC DHCP server for automatic IP address assignment (debuging symbols)
 This are debugging symbols for the Internet Software Consortium's DHCP tools.
 .
 This package contains the debugging symbols for isc-dhcp.

Package: isc-dhcp-server-ldap
Priority: optional
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 debianutils (>= 2.8.2),
 isc-dhcp-common (= ${binary:Version}),
 isc-dhcp-server (= ${binary:Version}),
Conflicts:
 dhcp,
Description: DHCP server that uses LDAP as its backend
 This is the server from the Internet Software Consortium's implementation of
 DHCP.
 .
 Dynamic Host Configuration Protocol (DHCP) is a protocol like BOOTP
 (actually dhcpd includes much of the functionality of bootpd). It
 gives client machines "leases" for IP addresses and can
 automatically set their network configuration.
 .
 This is the DHCP server with LDAP patches applied to it.

Package: isc-dhcp-common
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 debianutils (>= 2.8.2),
Description: common files used by all of the isc-dhcp packages
 This package includes all of the files that are used in common by the various
 ISC DHCP packages, such as the dhcp-eval and dhcp-options manpages and the
 OMAPI command shell.

Package: isc-dhcp-dev
Priority: optional
Architecture: any
Section: devel
Depends:
 ${misc:Depends},
 libc6-dev,
Description: API for accessing and modifying the DHCP server and client state
 This package provides support for OMAPI (Object Management Application
 Programming Interface), which is an API for accessing and modifying the DHCP
 server and client state.

Package: isc-dhcp-client
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 debianutils (>= 2.8.2),
 isc-dhcp-common (= ${binary:Version}),
 iproute2 [linux-any] | freebsd-net-tools [kfreebsd-any],
Suggests:
 resolvconf,
 avahi-autoipd
Provides:
 dhcp-client,
Description: DHCP client for automatically obtaining an IP address
 This is the Internet Software Consortium's DHCP client. 
 .
 Dynamic Host Configuration Protocol (DHCP) is a protocol like BOOTP
 (actually dhcpd includes much of the functionality of bootpd). It
 gives client machines "leases" for IP addresses and can
 automatically set their network configuration. If your machine
 depends on DHCP (especially likely if it's a workstation on a large
 network, or a laptop, or attached to a cable modem), keep this or
 another DHCP client installed.
 .
 Extra documentation can be found in the package isc-dhcp-common.

Package: isc-dhcp-client-dbg
Section: oldlibs
Priority: extra
Architecture: any
Depends:
 ${misc:Depends},
 isc-dhcp-dbg (= ${binary:Version}),
Description: ISC DHCP server for automatic IP address assignment (client debug)
 This is the client from the Internet Software Consortium's implementation of
 DHCP.
 .
 This is a transitional package that can be safely removed. 

Package: isc-dhcp-client-udeb
Priority: extra
Architecture: any
Section: debian-installer
Depends:
 ${shlibs:Depends},
Package-Type: udeb
Description: ISC DHCP Client for debian-installer

Package: isc-dhcp-relay
Priority: optional
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 debianutils (>= 2.8.2),
 isc-dhcp-common (= ${binary:Version}),
Conflicts:
 dhcp-relay,
Description: ISC DHCP relay daemon
 This is the Internet Software Consortium's DHCP relay.
 .
 Installing this package will make the machine a DHCP relay, which
 requires a reachable DHCP or BOOTP server in order to function.
 .
 Extra documentation can be found in the package isc-dhcp-common.

Package: isc-dhcp-relay-dbg
Section: oldlibs
Priority: extra
Architecture: any
Depends:
 ${misc:Depends},
 isc-dhcp-dbg (= ${binary:Version}),
Description: ISC DHCP server for automatic IP address assignment (relay debug)
 This is the relay from the Internet Software Consortium's implementation of
 DHCP.
 .
 This is a transitional package that can be safely removed. 
