#!/bin/sh -e
#
# $Id: dhcp3-relay.config,v 1.3 2003/06/18 18:11:21 peloy Exp $
#

# Source debconf library.
. /usr/share/debconf/confmodule

# Read in the current defaults (if available)
INITCONFFILE=/etc/default/dhcp3-relay

# Read current configuration - the user might not use dpkg-reconfigure
# to change /etc/default/dhcp3-relay, so we need to do this to
# preserve the configuration.
if [ -r ${INITCONFFILE} ]; then
	. ${INITCONFFILE}
	db_set dhcp3-relay/servers "${SERVERS}"
	db_set dhcp3-relay/interfaces "${INTERFACES}"
fi

db_title "DHCP Relay"

db_input high dhcp3-relay/servers || true
db_go

db_input high dhcp3-relay/interfaces || true
db_go

db_input high dhcp3-relay/options || true
db_go
