#!/bin/sh -e
#
# $Id: dhcp3-server.config,v 1.2 2003/01/29 19:49:17 peloy Exp $
#

# Source debconf library.
. /usr/share/debconf/confmodule

# Read in the current defaults (if available)
INITCONFFILE=/etc/default/dhcp3-server

# Read current configuration - the user might not use dpkg-reconfigure
# to change /etc/default/dhcp3-server, so we need to do this to
# preserve the configuration.
if [ -r ${INITCONFFILE} ]; then
	. ${INITCONFFILE}
	db_set dhcp3-server/interfaces "${INTERFACES}"
fi

db_title "DHCP Server"

db_input low dhcp3-server/interfaces || true
db_go

#db_input high dhcp3-server/config_warn || true
#db_go

db_input high dhcp3-server/new_auth_behavior || true
db_go

if dpkg --compare-versions "$2" lt-nl "3.0.3-4"; then
	db_input high dhcp3-server/new_next-server_behaviour || true
	db_go
fi
