#!/usr/bin/make -f
# Made with the iad of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Also some stuff taken from debmake scripts, by Cristopt Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH_OS := $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

DEB_HOST_GNU_TYPE=$(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE=$(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
CROSS=CC=$(DEB_HOST_GNU_TYPE)-gcc
else
CROSS=
endif

DESTDIR = `pwd`/debian/tmp

PACKAGE = dhcp3

include /usr/share/dpatch/dpatch.make

CFLAGS = -Wall -g
INSTALL = install
INSTALL_FILE 	= $(INSTALL) -p -o root -g root -m 644
INSTALL_PROGRAM = $(INSTALL) -p -o root -g root -m 755

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

patched-ldap/build-stamp:
	dh_testdir

	./configure  --prefix=$(DESTDIR)/usr

	for f in common $(MINIRES) dst omapip server; do \
		cd work.ldapbuild/$$f;\
		$(MAKE);\
	done

	mv work.ldapbuild patched-ldap

	touch $@


build: patch-stamp build-stamp

#build-stamp: patched-ldap/build-stamp
build-stamp: patch-stamp
	#dpatch deapply-until dhcp-3.1.0-ldap-code
	
	./configure --prefix=$(DESTDIR)/usr --disable-dhcpv6
	
	$(MAKE)

	cp debian/dhclient-script.$(DEB_HOST_ARCH_OS) client/scripts/debian

	touch build-stamp

clean: unpatch
	dh_testdir
	rm -f build-stamp install-stamp

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean

	# Remove leftover junk...
	rm -Rf work.*/
	rm -Rf patched-ldap
	rm -f client/scripts/debian

	debconf-updatepo
	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -A

	# Add here commands to install the package into debian/tmp.
	$(MAKE) install


	mkdir -p $(DESTDIR)/etc/dhcp

	# Install dhcp's conffile.
	$(INSTALL_FILE) -m 644 debian/dhcpd.conf $(DESTDIR)/etc/dhcp

	# Install dhcp-client's conffiles.
	$(INSTALL_FILE) -m 644 debian/dhclient.conf $(DESTDIR)/etc/dhcp

	# install the udeb binary
	$(INSTALL_PROGRAM) -m 755 $(DESTDIR)/usr/sbin/dhclient \
		`pwd`/debian/isc-dhcp-client-udeb/sbin/

	# udeb needs simplified dhclient script
	$(INSTALL_FILE) -m 755 `pwd`/debian/dhclient-script.udeb \
		`pwd`/debian/isc-dhcp-client-udeb/sbin/dhclient-script

	# Rename man page so the have the same name as the binaries.
	#for f in dhcpd dhcrelay dhclient; do \
	#	mv $(DESTDIR)/usr/share/man/man8/$$f.8 \
	#		$(DESTDIR)/usr/share/man/man8/$${f}3.8; \
	#done

	# Weird, weird Japanese manpages in weird, weird locations
	# need to be special-cased...
	mkdir -p $(DESTDIR)/usr/share/man/ja/man5
	for f in dhclient.conf dhcp-eval dhclient.leases dhcp-options; do \
		cp doc/ja_JP.eucJP/$$f.5 \
			$(DESTDIR)/usr/share/man/ja/man5; \
	done

	mkdir -p $(DESTDIR)/usr/share/man/ja/man8
	for f in dhclient dhclient-script; do \
		cp doc/ja_JP.eucJP/$$f.8 \
			$(DESTDIR)/usr/share/man/ja/man8; \
	done

	cp debian/debug-enter debian/isc-dhcp-client/etc/dhcp/dhclient-enter-hooks.d/debug
	cp debian/debug-exit debian/isc-dhcp-client/etc/dhcp/dhclient-exit-hooks.d/debug
	cp debian/rfc3442-classless-routes debian/isc-dhcp-client/etc/dhcp/dhclient-exit-hooks.d

	dh_movefiles
	# Create symlink so we don't break ifupdown
	dh_link -a

	# Remove unwanted directories that dh_movefiles leaves around
	rmdir $(DESTDIR)/sbin/
	rmdir $(DESTDIR)/usr/lib/
	rm -Rf $(DESTDIR)/usr/include/

	# Install Linux specific documentation
ifeq ($(DEB_HOST_ARCH_OS), linux)
	for p in isc-dhcp-client isc-dhcp-relay isc-dhcp-server ; do \
		install -d -m 755 `pwd`/debian/$p/usr/share/doc; \
		install -m 644 `pwd`/debian/dhcp-on-linux.txt `pwd`/debian/$p/usr/share/doc; \
	done
endif
	$(INSTALL_FILE) debian/isc-dhcp-client.lintian \
		debian/isc-dhcp-client/usr/share/lintian/overrides/isc-dhcp-client
	#$(INSTALL_FILE) debian/isc-dhcp-server-ldap.lintian \
	#	debian/isc-dhcp-server-ldap/usr/share/lintian/overrides/isc-dhcp-server-ldap

	touch install-stamp

UDEBPACKAGE=isc-dhcp-client-udeb
VERSION=$(shell dpkg-parsechangelog | grep ^Version:.* | cut -d ' ' -f 2)
ARCH=$(shell dpkg --print-architecture)
#UDEBFILENAME=$(UDEBPACKAGE)_$(VERSION)_$(ARCH).udeb
PRIORITY=$(shell grep ^Priority: debian/control | cut -d ' ' -f 2)

# Build architecture-dependent files here (this package does not contain
#	architecture-independent files).
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot 
	dh_installdebconf
	dh_installdocs -A debian/README.Debian -X doc/ja_JP.eucJP
	#dh_installdocs -p isc-dhcp-server-ldap contrib/dhcpd-conf-to-ldap.pl
	dh_installexamples -a
#	dh_installmenu -a
#	dh_installemacsen -a
	dh_installinit -a -n
#	dh_installcron -a
#	dh_installmanpages -a
#	dh_undocumented
	dh_installchangelogs
	#dh_installchangelogs -p isc-dhcp-server-ldap Changelog-LDAP 
	#dh_install -p isc-dhcp-server-ldap
	dh_strip -a
	dh_compress
	dh_fixperms -a
	dh_installdeb
	dh_shlibdeps -a
	dh_gencontrol
#	dh_makeshlibs -a
	dh_md5sums -a --no-package=isc-dhcp-client-udeb
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-arch
.PHONY: build clean binary-indep binary-arch binary
